:root {
    --color-background: #ffffff;
    --color-background-compact-menu: #FFFFFFBB;
    --color-background-compact-menu-reactions: #FFFFFFEB;
    --color-background-compact-menu-hover: #000000B2;
    --color-background-selected: #f4f4f5;
    --color-background-secondary: #f4f4f5;
    --color-background-secondary-accent: #e4e4e5;
    --color-background-own: #eeffde;
    --color-text: #000000;
    --color-text-lighter: #2e3939;
    --color-text-secondary: #707579;
    --color-icon-secondary: #707579;
    --color-text-secondary-rgb: 112, 117, 121;
    --color-text-secondary-apple: #8a8a90;
    --color-text-meta: #686c72;
    --color-text-meta-rgb: 104, 108, 114;
    --color-text-meta-colored: #4fae4e;
    --color-text-meta-apple: #8c8c91;
    --color-text-green: #4fae4e;
    --color-text-green-rgb: 79, 174, 78;
    --color-borders: #dadce0;
    --color-borders-input: #dadce0;
    --color-borders-alternate: rgba(0, 0, 0, 0.1);
    --color-borders-read-story: #C4C9CC;
    --color-dividers: #c8c6cc;
    --color-dividers-android: #E7E7E7;
    --color-webpage-initial-background: #2e3939;
    --color-interactive-active: var(--color-primary);
    --color-interactive-inactive: rgba(var(--color-text-secondary-rgb), 0.25);
    --color-interactive-buffered: rgba(var(--color-text-secondary-rgb), 0.25);
    --color-interactive-element-hover: rgba(var(--color-text-secondary-rgb), 0.08);
    --color-composer-button: #707579CC;
    --color-voice-transcribe-button: #e8f3ff;
    --color-voice-transcribe-button-own: #cceebf;
    --color-primary: #3390ec;
    --color-primary-shade: #2f84d9;
    --color-primary-shade-darker: #2b79c6;
    --color-primary-shade-rgb: 47, 132, 217;
    --color-primary-opacity: rgba(var(--color-primary), 0.25);
    --color-primary-opacity-hover: rgba(var(--color-primary), 0.15);
    --color-green: #00c73e;
    --color-green-darker: #00a734;
    --color-error: #e53935;
    --color-error-shade: #d33431;
    --color-error-rgb: 229, 57, 53;
    --color-warning: #fb8c00;
    --color-yellow: #fdd764;
    --color-links: #3390ec;
    --color-own-links: #ffffff;
    --color-placeholders: #a2acb4;
    --color-list-icon: #ffffff;
    --color-code: #4a729a;
    --color-code-bg: rgba(112, 117, 121, 0.08);
    --color-code-own: #3c7940;
    --color-code-own-bg: rgba(112, 117, 121, 0.08);
    --color-accent-own: #4fae4e;
    --color-message-meta-own: #4fae4e;
    --color-reply-hover: rgb(244, 244, 244);
    --color-reply-active: rgb(232, 233, 234);
    --color-reply-own-hover: rgb(219, 245, 205);
    --color-reply-own-active: rgb(200, 236, 187);
    --color-background-own-apple: #dcf8c5;
    --color-reply-own-hover-apple: #cbefb7;
    --color-reply-own-active-apple: #bae6a8;
    --color-white: #ffffff;
    --color-gray: #c4c9cc;
    --color-chat-username: #3C7EB0;
    --color-chat-hover: #f4f4f5;
    --color-chat-active: #3390ec;
    --color-item-active: #ededed;
    --color-selection-highlight: #3993fb;
    --color-selection-highlight-emoji: rgba(57, 147, 251, 0.7);
    --color-user-1: #e17076;
    --color-user-2: #7bc862;
    --color-user-4: #65aadd;
    --color-user-5: #a695e7;
    --color-user-6: #ee7aae;
    --color-user-7: #6ec9cb;
    --color-user-8: #faa774;
    --color-avatar-story-unread-from: #34c76f;
    --color-avatar-story-unread-to: #3da1fd;
    --color-default-shadow: #72727240;
    --color-light-shadow: #7272722b;
    --color-skeleton-background: rgba(33, 33, 33, 0.15);
    --color-skeleton-foreground: rgba(232, 232, 232, 0.2);
    --color-scrollbar: rgba(90, 90, 90, 0.3);
    --color-scrollbar-code: rgba(200, 200, 200, 0.3);
    --color-telegram-blue: #3390ec;
    --color-forum-hover-unread-topic: #e9e9e9;
    --color-forum-hover-unread-topic-hover: #dcdcdc;
    --color-deleted-account: #9eaab5;
    --color-archive: #9eaab5;
    --color-heart: #ff3c32;
    --vh: 1vh;
    --border-radius-modal: 1rem;
    --border-radius-default: 0.75rem;
    --border-radius-default-small: 0.625rem;
    --border-radius-default-tiny: 0.375rem;
    --border-radius-messages: 0.9375rem;
    --border-radius-messages-small: 0.375rem;
    --border-radius-forum-avatar: 25%;
    --messages-container-width: 45.5rem;
    --right-column-width: 26.5rem;
    --header-height: 3.5rem;
    --custom-emoji-size: 1.25rem;
    --emoji-size: 1.25rem;
    --custom-emoji-border-radius: 0;
    --symbol-menu-width: 24rem;
    --symbol-menu-height: 22.375rem;
    --symbol-menu-footer-height: 3rem;
    --scrollbar-width: 0;
    --z-modal-confirm: 10000;
    --z-portal-menu: 10000;
    --z-symbol-menu-modal: 5000;
    --z-lock-screen: 3000;
    --z-ui-loader-mask: 2000;
    --z-notification: 1700;
    --z-confetti: 1600;
    --z-reaction-picker: 1200;
    --z-story-viewer: 1150;
    --z-reaction-interaction-effect: 1100;
    --z-right-column: 900;
    --z-right-column-menu: 950;
    --z-header-menu: 990;
    --z-header-menu-backdrop: 980;
    --z-modal: 1510;
    --z-modal-menu: 1600;
    --z-media-viewer: 1500;
    --z-video-player-controls: 3;
    --z-drop-area: 55;
    --z-animation-fade: 50;
    --z-menu-bubble: 21;
    --z-menu-backdrop: 20;
    --z-message-highlighted: 14;
    --z-forum-panel: 13;
    --z-message-context-menu: 13;
    --z-scroll-down-button: 12;
    --z-mobile-search: 12;
    --z-left-header: 11;
    --z-middle-header: 11;
    --z-middle-footer: 11;
    --z-story-ribbon: 10;
    --z-country-code-input-group: 10;
    --z-message-select-control: 9;
    --z-message-select-area: 8;
    --z-sticky-date: 9;
    --z-register-add-avatar: 5;
    --z-media-viewer-head: 3;
    --z-symbol-menu-mobile: 2;
    --z-resize-handle: 2;
    --z-below: -1;
    --spinner-white-data: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEwLjggMjIuNEM2IDIxLjkgMi4xIDE4IDEuNiAxMy4yLjkgNy4xIDUuNCAxLjkgMTEuMyAxLjVjLjQgMCAuNy0uMy43LS43IDAtLjQtLjQtLjgtLjgtLjhDNC44LjQtLjIgNS45IDAgMTIuNS4yIDE4LjYgNS40IDIzLjggMTEuNSAyNGM2LjYuMiAxMi00LjggMTIuNC0xMS4yIDAtLjQtLjMtLjgtLjgtLjgtLjQgMC0uNy4zLS43LjctLjMgNS45LTUuNSAxMC40LTExLjYgOS43eiIgZmlsbD0iI2ZmZmZmZiIvPjwvc3ZnPg==);
    --spinner-white-thin-data: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTEyIDIzQzUuOSAyMyAxIDE4LjEgMSAxMlM1LjkgMSAxMiAxVjBDNS40IDAgMCA1LjQgMCAxMnM1LjQgMTIgMTIgMTIgMTItNS40IDEyLTEyaC0xYzAgNi4xLTQuOSAxMS0xMSAxMXoiLz48L3N2Zz4=);
    --spinner-blue-data: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEwLjggMjIuNEM2IDIxLjkgMi4xIDE4IDEuNiAxMy4yLjkgNy4xIDUuNCAxLjkgMTEuMyAxLjVjLjQgMCAuNy0uMy43LS43IDAtLjQtLjQtLjgtLjgtLjhDNC44LjQtLjIgNS45IDAgMTIuNS4yIDE4LjYgNS40IDIzLjggMTEuNSAyNGM2LjYuMiAxMi00LjggMTIuNC0xMS4yIDAtLjQtLjMtLjgtLjgtLjgtLjQgMC0uNy4zLS43LjctLjMgNS45LTUuNSAxMC40LTExLjYgOS43eiIgZmlsbD0iIzRlYTRmNiIvPjwvc3ZnPg==);
    --spinner-dark-blue-data: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEwLjggMjIuNEM2IDIxLjkgMi4xIDE4IDEuNiAxMy4yLjkgNy4xIDUuNCAxLjkgMTEuMyAxLjVjLjQgMCAuNy0uMy43LS43IDAtLjQtLjQtLjgtLjgtLjhDNC44LjQtLjIgNS45IDAgMTIuNS4yIDE4LjYgNS40IDIzLjggMTEuNSAyNGM2LjYuMiAxMi00LjggMTIuNC0xMS4yIDAtLjQtLjMtLjgtLjgtLjgtLjQgMC0uNy4zLS43LjctLjMgNS45LTUuNSAxMC40LTExLjYgOS43eiIgZmlsbD0iIzgzNzhEQiIvPjwvc3ZnPg==);
    --spinner-black-data: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEwLjggMjIuNEM2IDIxLjkgMi4xIDE4IDEuNiAxMy4yLjkgNy4xIDUuNCAxLjkgMTEuMyAxLjVjLjQgMCAuNy0uMy43LS43IDAtLjQtLjQtLjgtLjgtLjhDNC44LjQtLjIgNS45IDAgMTIuNS4yIDE4LjYgNS40IDIzLjggMTEuNSAyNGM2LjYuMiAxMi00LjggMTIuNC0xMS4yIDAtLjQtLjMtLjgtLjgtLjgtLjQgMC0uNy4zLS43LjctLjMgNS45LTUuNSAxMC40LTExLjYgOS43eiIgZmlsbD0iIzJlMzkzOSIvPjwvc3ZnPg==);
    --spinner-green-data: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEwLjggMjIuNEM2IDIxLjkgMi4xIDE4IDEuNiAxMy4yLjkgNy4xIDUuNCAxLjkgMTEuMyAxLjVjLjQgMCAuNy0uMy43LS43IDAtLjQtLjQtLjgtLjgtLjhDNC44LjQtLjIgNS45IDAgMTIuNS4yIDE4LjYgNS40IDIzLjggMTEuNSAyNGM2LjYuMiAxMi00LjggMTIuNC0xMS4yIDAtLjQtLjMtLjgtLjgtLjgtLjQgMC0uNy4zLS43LjctLjMgNS45LTUuNSAxMC40LTExLjYgOS43eiIgZmlsbD0iIzRmYWU0ZSIvPjwvc3ZnPg==);
    --spinner-gray-data: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEwLjggMjIuNEM2IDIxLjkgMi4xIDE4IDEuNiAxMy4yLjkgNy4xIDUuNCAxLjkgMTEuMyAxLjVjLjQgMCAuNy0uMy43LS43IDAtLjQtLjQtLjgtLjgtLjhDNC44LjQtLjIgNS45IDAgMTIuNS4yIDE4LjYgNS40IDIzLjggMTEuNSAyNGM2LjYuMiAxMi00LjggMTIuNC0xMS4yIDAtLjQtLjMtLjgtLjgtLjgtLjQgMC0uNy4zLS43LjctLjMgNS45LTUuNSAxMC40LTExLjYgOS43eiIgZmlsbD0iIzcwNzU3OSIvPjwvc3ZnPg==);
    --spinner-yellow-data: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEwLjggMjIuNEM2IDIxLjkgMi4xIDE4IDEuNiAxMy4yLjkgNy4xIDUuNCAxLjkgMTEuMyAxLjVjLjQgMCAuNy0uMy43LS43IDAtLjQtLjQtLjgtLjgtLjhDNC44LjQtLjIgNS45IDAgMTIuNS4yIDE4LjYgNS40IDIzLjggMTEuNSAyNGM2LjYuMiAxMi00LjggMTIuNC0xMS4yIDAtLjQtLjMtLjgtLjgtLjgtLjQgMC0uNy4zLS43LjctLjMgNS45LTUuNSAxMC40LTExLjYgOS43eiIgZmlsbD0iI0ZERDc2NCIvPjwvc3ZnPg==);
    //--drag-target-border: url(data:image/svg+xml,%3csvg width=%27100%25%27 height=%27100%25%27 xmlns=%27http://www.w3.org/2000/svg%27%3e%3crect width=%27100%25%27 height=%27100%25%27 fill=%27none%27 rx=%278%27 ry=%278%27 stroke=%27%23DDDFE0%27 stroke-width=%274%27 stroke-dasharray=%279.1%2c 10.5%27 stroke-dashoffset=%273%27 stroke-linecap=%27round%27/%3e%3c/svg%3e);
    //--drag-target-border-hovered: url(data:image/svg+xml,%3csvg width=%27100%25%27 height=%27100%25%27 xmlns=%27http://www.w3.org/2000/svg%27%3e%3crect width=%27100%25%27 height=%27100%25%27 fill=%27none%27 rx=%278%27 ry=%278%27 stroke=%27%2363A2E3%27 stroke-width=%274%27 stroke-dasharray=%279.1%2c 10.5%27 stroke-dashoffset=%273%27 stroke-linecap=%27round%27/%3e%3c/svg%3e);
    --premium-gradient: linear-gradient(84.4deg, #6C93FF -4.85%, #976FFF 51.72%, #DF69D1 110.7%);
    --layer-blackout-opacity: 0.3;
    --layer-transition: 300ms cubic-bezier(0.33, 1, 0.68, 1);
    --slide-transition: 300ms cubic-bezier(0.25, 1, 0.5, 1);
    --select-transition: 200ms ease-out;
}

.light {
    --scrollbar-width: 6px;
    --vh: 5.36px;
    --composer-text-size: 16px;
    --message-meta-height: 21px;
    --message-text-size: 16px;
    --color-primary: rgb(51,144,236);
    --color-primary-opacity: rgb(80,162,233,0.251);
    --color-primary-opacity-hover: rgb(80,162,233,0.149);
    --color-primary-shade: rgb(74,149,214);
    --color-primary-shade-rgb: 74,149,214;
    --color-background: rgb(255,255,255);
    --color-background-compact-menu: rgb(255,255,255,0.733);
    --color-background-compact-menu-reactions: rgb(255,255,255,0.922);
    --color-background-compact-menu-hover: rgb(0,0,0,0.067);
    --color-background-secondary: rgb(244,244,245);
    --color-background-secondary-accent: rgb(228,228,229);
    --color-background-own: rgb(238,255,222);
    --color-background-own-apple: rgb(220,248,197);
    --color-background-selected: rgb(244,244,245);
    --color-background-own-selected: rgb(208,255,172);
    --color-chat-hover: rgb(244,244,245);
    --color-chat-active: rgb(51,144,236);
    --color-chat-active-greyed: rgb(96,167,240);
    --color-item-active: rgb(237,237,237);
    --color-text: rgb(0,0,0);
    --color-text-secondary: rgb(112,117,121);
    --color-text-secondary-rgb: 112,117,121;
    --color-icon-secondary: rgb(112,117,121);
    --color-text-secondary-apple: rgb(142,142,146);
    --color-borders: rgb(218,220,224);
    --color-borders-input: rgb(218,220,224);
    --color-dividers: rgb(200,198,204);
    --color-dividers-android: rgb(231,231,231);
    --color-links: rgb(51,144,236);
    --color-gray: rgb(196,201,204);
    --color-list-icon: rgb(171,175,177);
    --color-default-shadow: rgb(114,114,114,0.251);
    --color-light-shadow: rgb(114,114,114,0.169);
    --color-green: rgb(0,199,62);
    --color-green-darker: rgb(0,167,52);
    --color-text-meta-colored: rgb(77,205,94);
    --color-reply-hover: rgb(244,244,244);
    --color-reply-active: rgb(232,233,233);
    --color-reply-own-hover: rgb(217,245,206);
    --color-reply-own-hover-apple: rgb(203,239,183);
    --color-reply-own-active: rgb(197,236,190);
    --color-reply-own-active-apple: rgb(186,230,168);
    --color-accent-own: rgb(69,175,84);
    --color-message-meta-own: rgb(79,174,78,1);
    --color-own-links: rgb(51,144,236);
    --color-code: rgb(74,114,154);
    --color-code-own: rgb(60,121,64);
    --color-code-bg: rgb(112,117,121,0.078);
    --color-code-own-bg: rgb(112,117,121,0.078);
    --color-composer-button: rgb(112,117,121,0.8);
    --color-message-reaction: rgb(235,243,253);
    --color-message-reaction-hover: rgb(197,222,249);
    --color-message-reaction-own: rgb(198,234,178);
    --color-message-reaction-hover-own: rgb(181,224,164);
    --color-message-reaction-chosen-hover: rgb(26,130,234);
    --color-message-reaction-chosen-hover-own: rgb(63,157,75);
    --color-voice-transcribe-button: rgb(232,243,255);
    --color-voice-transcribe-button-own: rgb(204,238,191);
    --color-topic-blue: rgb(47,119,114);
    --color-topic-yellow: rgb(127,105,59);
    --color-topic-violet: rgb(139,90,150);
    --color-topic-green: rgb(68,119,74);
    --color-topic-rose: rgb(155,87,107);
    --color-topic-red: rgb(235,104,88);
    --color-topic-grey: rgb(108,108,108);
    --color-forum-unread-topic-hover: rgb(233,233,233);
    --color-forum-hover-unread-topic-hover: rgb(226,226,226);
    --color-chat-username: rgb(60,126,176);
    --color-borders-read-story: rgb(196,201,204);
    --input-custom-emoji-filter: url(#color-filter-000000);
}

.dark {
    --color-primary: rgb(135,116,225);
    --color-primary-opacity: rgb(131,120,219,0.502);
    --color-primary-opacity-hover: rgb(131,120,219,0.627);
    --color-primary-shade: rgb(123,113,198);
    --color-primary-shade-rgb: 123,113,198;
    --color-background: rgb(33,33,33);
    --color-background-compact-menu: rgb(33,33,33,0.867);
    --color-background-compact-menu-reactions: rgb(33,33,33,0.867);
    --color-background-compact-menu-hover: rgb(0,0,0,0.4);
    --color-background-secondary: rgb(15,15,15);
    --color-background-secondary-accent: rgb(16,15,16);
    --color-background-own: rgb(118,106,200);
    --color-background-own-apple: rgb(118,106,200);
    --color-background-selected: rgb(44,44,44);
    --color-background-own-selected: rgb(101,73,212);
    --color-chat-hover: rgb(44,44,44);
    --color-chat-active: rgb(118,106,200);
    --color-chat-active-greyed: rgb(146,136,211);
    --color-item-active: rgb(41,41,41);
    --color-text: rgb(255,255,255);
    --color-text-secondary: rgb(170,170,170);
    --color-text-secondary-rgb: 170,170,170;
    --color-icon-secondary: rgb(170,170,170);
    --color-text-secondary-apple: rgb(170,170,170);
    --color-borders: rgb(48,48,48);
    --color-borders-input: rgb(91,91,90);
    --color-dividers: rgb(59,59,61);
    --color-dividers-android: rgb(15,15,15);
    --color-links: rgb(135,116,225);
    --color-gray: rgb(113,117,121);
    --color-list-icon: rgb(162,162,162);
    --color-default-shadow: rgb(16,16,16,0.612);
    --color-light-shadow: rgb(0,0,0,0.251);
    --color-green: rgb(135,116,225);
    --color-green-darker: rgb(123,113,198);
    --color-text-meta-colored: rgb(131,120,219);
    --color-reply-hover: rgb(39,39,39);
    --color-reply-active: rgb(46,47,47);
    --color-reply-own-hover: rgb(135,117,218);
    --color-reply-own-hover-apple: rgb(135,117,218);
    --color-reply-own-active: rgb(145,125,234);
    --color-reply-own-active-apple: rgb(145,125,234);
    --color-accent-own: rgb(255,255,255);
    --color-message-meta-own: rgb(255,255,255,0.533);
    --color-own-links: rgb(255,255,255);
    --color-code: rgb(135,116,225);
    --color-code-own: rgb(255,255,255);
    --color-code-bg: rgb(0,0,0,0.502);
    --color-code-own-bg: rgb(0,0,0,0.314);
    --color-composer-button: rgb(170,170,170,0.8);
    --color-message-reaction: rgb(43,42,53);
    --color-message-reaction-hover: rgb(52,49,71);
    --color-message-reaction-own: rgb(103,92,175);
    --color-message-reaction-hover-own: rgb(91,82,155);
    --color-message-reaction-chosen-hover: rgb(120,100,221);
    --color-message-reaction-chosen-hover-own: rgb(245,245,245);
    --color-voice-transcribe-button: rgb(42,42,60);
    --color-voice-transcribe-button-own: rgb(131,115,211);
    --color-topic-blue: rgb(111,249,240);
    --color-topic-yellow: rgb(255,214,126);
    --color-topic-violet: rgb(203,134,219);
    --color-topic-green: rgb(142,238,152);
    --color-topic-rose: rgb(255,147,178);
    --color-topic-red: rgb(251,111,95);
    --color-topic-grey: rgb(153,153,153);
    --color-forum-unread-topic-hover: rgb(54,54,54);
    --color-forum-hover-unread-topic-hover: rgb(63,63,63);
    --color-chat-username: rgb(233,238,244);
    --color-borders-read-story: rgb(115,115,115);
    --input-custom-emoji-filter: url(#color-filter-ffffff);
}
